* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background-image: url(../multimedia/FondoPagina.png);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  align-content: center; }

/*TODO EN PARRAFOS y Titulos*/
.mainpblog {
  align-items: center;
  justify-content: center; }

.parrafogenerales {
  font-style: oblique;
  font-family: 'Comic Neue', cursive;
  text-align: justify;
  color: #1b4778;
  font-size: 30px;
  width: 50%;
  line-height: 2.5rem;
  height: 300px;
  overflow: auto;
  margin: 10px; }

.tittlesecundari {
  font-family: 'Kite One', sans-serif;
  font-style: oblique;
  font-size: 30px;
  margin: 5px 0;
  background-color: #efefef; }

.tittleprincipal {
  font-family: 'Kite One', sans-serif;
  font-style: oblique;
  font-size: 35px;
  margin: 10px 0;
  text-align: center; }

/* PAGINA INICIO */
.espacio0 {
  width: 100%;
  justify-content: center;
  align-content: center; }

.parrafopag1 {
  font-style: oblique;
  font-family: 'Comic Neue', cursive;
  text-align: justify;
  color: #1b4778;
  font-size: 30px;
  max-width: 800px;
  line-height: 2.5rem;
  height: auto;
  overflow: auto;
  margin: 0 20px; }

.parrafo2pag1 {
  font-style: oblique;
  font-family: 'Comic Neue', cursive;
  text-align: center;
  color: #1b4778;
  font-size: 30px;
  max-width: 800px;
  width: 100%;
  height: auto;
  line-height: 2.5rem; }

.imgparr1pg1 {
  max-width: 600px;
  width: 100%;
  max-height: 400px; }

.espacio1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center; }

.espacio2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px; }

.espacio3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center; }

.img1parr2pg1 {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 10px; }

.img2parr2pg1 {
  max-width: 600PX;
  width: 100%;
  height: auto;
  margin: 10px; }

.mainp1 {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%; }

/*Pagina Tienda*/
.poranimal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.imgtienda {
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: white;
  border: 20px solid;
  border-color: #5588ba;
  border-radius: 30px;
  margin: 5px 50px; }

.mnfirt {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around; }

.categoria {
  list-style-type: none;
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  font-family: 'Kite One', sans-serif; }

.bycat {
  height: auto;
  margin: 20px;
  width: 750px;
  text-align: center;
  background-color: #efefef; }

.bytop {
  height: auto;
  width: 100%;
  display: inline-block; }

.navby {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.imgby {
  max-width: 200px;
  width: 100%;
  height: auto;
  opacity: .8; }

.imgby:hover {
  opacity: 1; }

/*paginaOfertasyObsequios*/
.gridofyob {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  max-width: 1440px;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: 20px auto;
  gap: 10px;
  grid-template-areas: "it1it2it3it4 it1it2it3it4 it1it2it3it4 it1it2it3it4" "it5it6 it5it6 it7it8 it7it8" "it9it10it11it12 it9it10it11it12 it9it10it11it12 it9it10it11it12" "it13it14it15it16 it13it14it15it16 it13it14it15it16 it13it14it15it16" "it17it18 it17it18 it19it20 it19it20" "it21it22it23it24 it21it22it23it24 it21it22it23it24 it21it22it23it24" "it25 it26 it27 it28";
  height: auto;
  align-items: center; }

.ofyobtitulo1 {
  grid-area: it1it2it3it4;
  font-family: 'Kite One', sans-serif;
  font-style: oblique;
  font-size: 50px;
  background-color: white; }

.ofyobtext1 {
  grid-area: it7it8;
  font-style: oblique;
  font-family: 'Comic Neue', cursive;
  text-align: justify;
  color: #1b4778;
  font-size: 35px;
  text-align: center;
  background-color: #efefef;
  width: auto;
  line-height: 2.5rem;
  margin: 0 20px; }

.ofyobimg1 {
  grid-area: it5it6;
  align-items: center;
  align-content: center; }

.imgoyo1 {
  height: 100%;
  width: 100%; }

.ofyobtitulo2 {
  grid-area: it9it10it11it12;
  font-family: 'Kite One', sans-serif;
  font-style: oblique;
  font-size: 50px;
  justify-content: space-around;
  align-content: center;
  background-color: white; }

.ofyobsubtitulo2 {
  grid-area: it13it14it15it16;
  font-family: 'Kite One', sans-serif;
  font-style: oblique;
  font-size: 40px;
  justify-content: space-around;
  align-content: center;
  background-color: #5588BA;
  color: #efefef;
  border-radius: 30px; }

.ofyobimg2 {
  grid-area: it17it18; }

.imgoyo2 {
  max-width: 300px;
  width: 100%;
  justify-content: center; }

.ofyobimg3 {
  grid-area: it19it20; }

.imgoyo3 {
  max-width: 300px;
  width: 100%;
  justify-content: center; }

.ofyobtitulo3 {
  grid-area: it21it22it23it24;
  font-family: 'Kite One', sans-serif;
  font-style: oblique;
  font-size: 40px;
  justify-content: space-around;
  align-content: center;
  background-color: #5588BA;
  color: #efefef;
  border-radius: 30px; }

.imgoyo {
  max-width: 300px;
  width: 100%;
  justify-content: center; }

/* Pagina Blog */
.img1pagblog {
  width: auto;
  height: 400px; }

.img2pagblog {
  width: auto;
  height: 400px;
  margin: 10px 0; }

.mainpblog {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.espacio11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30PX; }

.espacio1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.formfamilia {
  width: fit-content;
  font-size: 30px;
  display: flex;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  margin-bottom: 50PX; }

.TEXFORM {
  font-size: 25PX; }

.imputtex {
  width: 700px;
  height: 150px;
  margin: 10px; }

.texsection3 {
  font-style: oblique;
  font-family: 'Comic Neue', cursive;
  text-align: justify;
  color: #1b4778;
  font-size: 40px;
  max-width: 800px;
  line-height: 2.5rem;
  height: auto;
  margin: 0 20px;
  text-align: center;
  background-color: #efefef; }

/* Pagina Nosotros */
.img1pagNOSOTROS {
  width: auto;
  height: 400px;
  margin: 10px 20PX; }

.img2pagNOSOTROS {
  width: auto;
  height: 400px;
  margin: 10px 20PX; }

.img3pagNOSOTROS {
  width: auto;
  height: 400px;
  margin: 10px 20PX; }

.mainnosotros {
  max-width: 1440px;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto; }

.parrafonosotrospag5 {
  font-style: oblique;
  font-family: 'Comic Neue', cursive;
  text-align: center;
  color: #1b4778;
  font-size: 40px;
  background-color: white;
  max-width: 900px;
  line-height: 2.5rem;
  height: auto;
  margin: 0 20px; }

/*link para subir y bajar el navegador*/
.arriba {
  color: #5588ba;
  text-align: right;
  padding: 20PX;
  font-size: 150%;
  font-family: 'Fredoka', sans-serif; }

.abajo {
  color: #5588ba;
  text-align: right;
  padding: 20PX;
  font-size: 150%;
  font-family: 'Fredoka', sans-serif; }

.imgrrss {
  width: 200px;
  height: auto; }

.chat {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  right: 100px; }

footer {
  background-color: #5588ba;
  color: #efefef; }

/*TODO LO DEL MENU*/
.barnav {
  background-color: #5588ba;
  height: 100px;
  width: 100%;
  margin-top: 100PX; }
  .barnav .imgmenu1 {
    background-color: #efefef;
    width: fit-content;
    height: 60px;
    position: fixed;
    left: 20px;
    border-radius: 20%;
    top: 20px;
    border-color: #5588ba;
    border: 2px solid; }
  .barnav .Buscador {
    top: 5px;
    position: absolute;
    left: 150px;
    align-content: center; }
    .barnav .Buscador .TEXbuscador {
      font-size: 40PX;
      padding: 10px;
      border-radius: 20px 0 0 20px; }
    .barnav .Buscador .iconobuscador {
      height: 80px;
      width: 80px;
      position: absolute;
      padding: 5px;
      border-radius: 0 20px 20px 0; }
      .barnav .Buscador .iconobuscador:hover {
        color: #efefef;
        background-color: #5588ba; }
  .barnav .imgmenu2 {
    background-color: #efefef;
    width: fit-content;
    height: 60PX;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 20%;
    border-color: #5588ba;
    border: 2px solid; }
  .barnav #check {
    display: none; }
  .barnav .chkboton {
    font-size: 30px;
    float: left;
    line-height: 100px;
    margin-left: 30px;
    cursor: pointer;
    display: none; }
  .barnav .menu {
    text-align: justify;
    justify-content: center;
    display: flex;
    flex-direction: row; }
    .barnav .menu li {
      display: inline-block;
      line-height: 100px;
      margin: 0 10px; }
      .barnav .menu li a {
        color: #efefef;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-style: oblique;
        font-family: 'Fredoka', sans-serif; }
        .barnav .menu li a:hover, .barnav .menu li a.active {
          color: #5588ba;
          background-color: #efefef;
          border-radius: 20%;
          height: 100PX;
          padding: 0 15px; }

@media (max-width: 1040px) {
  body {
    background-image: url(../multimedia/fondomovil2.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center; }
    body header .barnav {
      position: relative; }
      body header .barnav .menu {
        flex-direction: column;
        background-color: #5588ba;
        width: 100%;
        margin-left: -100%;
        transition: all 0.2s; }
        body header .barnav .menu li {
          border-top: #efefef 1px solid; }
      body header .barnav .Buscador {
        position: absolute;
        left: 80px;
        top: 20px; }
        body header .barnav .Buscador .TEXbuscador {
          font-size: 20PX;
          padding: 10px;
          border-radius: 20px 0 0 20px; }
        body header .barnav .Buscador .iconobuscador {
          height: 53px;
          width: 50px;
          position: absolute;
          padding: 5px;
          border-radius: 0 20px 20px 0; }
      body header .barnav .chkboton {
        display: block; }
      body header .barnav #check:checked ~ .menu {
        margin-top: 100PX;
        margin-left: 0; }
  .videopag1 {
    width: 280px;
    height: 160px; }
  .parrafo1pag1 {
    font-style: oblique;
    font-family: 'Comic Neue', cursive;
    text-align: justify;
    color: #1b4778;
    font-size: 30px;
    width: 100%;
    line-height: 2.5rem;
    height: auto;
    overflow: auto;
    margin-top: 200px; }
  .parrafo2pag1 {
    font-style: oblique;
    font-family: 'Comic Neue', cursive;
    text-align: justify;
    color: #1b4778;
    font-size: 30px;
    width: 100%;
    line-height: 2.5rem;
    height: auto;
    overflow: auto; }
  .imgparr1pg1 {
    width: 100%;
    height: auto; }
  .espacio1 {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }
  .espacio11 {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%; }
  .imgparr2pg1 {
    width: 100%;
    height: auto; }
  .img1parr2pg1 {
    width: 100%;
    height: auto;
    align-items: center; }
  .img2parr2pg1 {
    width: 100%;
    height: auto;
    justify-content: space-around; }
  .espacio2 {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%; }
  .espacio3 {
    display: inline-block;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%; }
  .videoparr3pg1 {
    width: 100%;
    height: 300px; }
  .mnfirt {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .bycat {
    width: auto;
    height: 400px;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .navby {
    width: auto;
    height: auto;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .imgby {
    width: 400px;
    height: auto;
    opacity: .8;
    padding: 10px 0; }
  .gridofyob {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 0.1fr 0.2fr 0.2fr 0.1fr 0.1fr 0.2fr 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "it1it2it3it4 it1it2it3it4 it1it2it3it4 it1it2it3it4"  "it5it6 it5it6 it5it6 it5it6" "it7it8 it7it8 it7it8 it7it8" "it9it10it11it12 it9it10it11it12 it9it10it11it12 it9it10it11it12"  "it13it14it15it16 it13it14it15it16 it13it14it15it16 it13it14it15it16"  "it17it18 it17it18 it19it20 it19it20"  "it21it22it23it24 it21it22it23it24 it21it22it23it24 it21it22it23it24"  "it29it30it31it32 it29it30it31it32 it29it30it31it32 it29it30it31it32"  "it33it34it35it36 it33it34it35it36 it33it34it35it36 it33it34it35it36"  "it37it38it39it40 it37it38it39it40 it37it38it39it40 it37it38it39it40"  "it41it42it43it44 it41it42it43it44 it41it42it43it44 it41it42it43it44"; }
  .ofyob4 {
    grid-area: it41it42it43it44; }
  .ofyob3 {
    grid-area: it37it38it39it40; }
  .ofyob2 {
    grid-area: it33it34it35it36; }
  .ofyob1 {
    grid-area: it29it30it31it32; }
  .imgoyo2 {
    width: 100%;
    height: auto; }
  .imgoyo3 {
    width: 100%;
    height: auto; }
  .imgoyo {
    width: 100%;
    height: auto; }
  .img1pagblog {
    width: 80%;
    height: auto;
    align-items: center;
    margin: 10px 0; }
  .img2pagblog {
    width: 80%;
    height: auto;
    align-items: center;
    margin: 10px 0; }
  .tittleprincipal {
    font-family: 'Kite One', sans-serif;
    font-style: oblique;
    font-size: 35px;
    margin: 40px 0;
    text-align: center; }
  .imputtex {
    width: 300px;
    height: 400px;
    margin: 10px; }
  .img3pagNOSOTROS {
    width: 80%;
    height: auto;
    align-items: center;
    margin: 10px 0; } }
