*{margin: 0; 
    padding: 0;
    box-sizing:border-box; 
    list-style: none; 
    text-decoration: none;
}

body{
background-image: $fondodesk ; 
background-size: cover; 
background-position: center center; 
height: 100vh; align-content: center;
}

