/* Pagina Blog */

.img1pagblog{ 
    width: auto; 
    height: 400px; margin: 10px 0;
}
.img2pagblog{
    width: auto; 
    height: 400px; margin: 10px 0;
}
.mainpblog{border: 1px solid;
    border-color: aqua;
    padding: 50px;
    margin: 10px;
    max-width: 1440px;
    width: 100%;
}
.espacio11{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
}
    
.espacio1{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 10px;}

.formfamilia{width:fit-content;
    font-size: 20px;
    display: flex;
    text-align: center;  
    align-self: center;
    justify-self:center;  
    margin: 0 auto;
}