/* Pagina Nosotros */

.img1pagNOSOTROS{width: auto; 
    height: 400px; 
    margin: 10px 20PX;}

.img2pagNOSOTROS{width: auto; 
    height: 400px; 
    margin: 10px 20PX;}

.img3pagNOSOTROS{width: auto; 
    height: 400px; 
    margin: 10px 20PX;}

.mainnosotros{max-width: 1440px;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;

}

.parrafonosotrospag5{
    font-style:oblique; 
    font-family: 'Comic Neue', cursive; 
    text-align:center; 
    color: #1b4778 ; 
    font-size: 40px; 
    background-color: white;
    max-width: 900px;
    line-height: 2.5rem; 
    height: auto; 
    margin: 0 20px;
}