/*Pagina Tienda*/

.poranimal{
    display: flex; 
    flex-direction: row; 
    flex-wrap:wrap; 
    justify-content:center; 
    align-items: center; 
    align-content: center;
}

.imgtienda{width: 200px; 
    height: 200px; 
    padding: 5px;
    background-color: white;
    border: 20px solid;
    border-color: #5588ba;
    border-radius: 30px;
    margin: 5px 50px;
}

.mnfirt{display: flex; 
    max-width: 1440px;
    width: 100%;     
    margin: 0 auto;    
    justify-content: space-around;
}

.categoria{
    list-style-type: none; 
    text-align: center; 
    padding-top: 1rem; 
    font-size: 3rem; 
    font-family: 'Kite One', sans-serif;}

.bycat{ height:auto; 
    margin: 20px; 
    width: 750px; 
    text-align: center;
    background-color: #efefef;}

.bytop{ height: auto; 
    width: 100%; 
    display: inline-block; 
    
}

.navby{ 
    display: flex; 
    flex-direction: row; 
    flex-wrap:wrap; 
    justify-content: space-around; 
    align-items: center;
}

.imgby{max-width: 200px;
    width: 100%; 
    height: auto; 
    opacity: .8;}

.imgby:hover{opacity: 1;}
