/* Pagina Nosotros */

.img1pagNOSOTROS{width: auto; 
    height: 400px; 
    margin: 10px 20PX;}

.img2pagNOSOTROS{width: auto; 
    height: 400px; 
    margin: 10px 20PX;}

.img3pagNOSOTROS{width: auto; 
    height: 400px; 
    margin: 10px 20PX;}
