/* PAGINA INICIO */

.espacio0 { width: 100%;
    justify-content: center;
    align-content: center;
}

// .indp1{border: 1px solid;
//     border-color: aqua;
//     padding: 50px;
//     margin: 10px;
// }

.parrafopag1{
    font-style:oblique; 
    font-family: 'Comic Neue', cursive; 
    text-align:justify; 
    color: #1b4778 ; 
    font-size: 30px; 
  
    max-width: 800px;
    line-height: 2.5rem; 
    height: auto; 
    overflow: auto;
    margin: 0 20px;
}

.parrafo2pag1{
    font-style:oblique; 
    font-family: 'Comic Neue', cursive; 
    text-align:center; 
    color: #1b4778 ; 
    font-size: 30px; 
    max-width: 800px;
    width: 100%;
    height: auto;
    line-height: 2.5rem;  
}

.imgparr1pg1{max-width: 600px;
    width: 100%;
    max-height: 400px;
}

.espacio1{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

.espacio2{ display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.espacio3{ 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
}
.img1parr2pg1 { max-width: 500px;
    width: 100%;
    height: auto;
    margin: 10px; }
  
.img2parr2pg1 {
    max-width: 600PX;
    width: 100%;
    height: auto;
    margin: 10px; }

.mainp1{ max-width: 1440px;
    margin: 0 auto;
    width: 100%;}