/*link para subir y bajar el navegador*/

.arriba{color: #5588ba; 
    text-align:right; 
    padding: 20PX; 
    font-size: 150%; 
    font-family: 'Fredoka', sans-serif;
}
.abajo{color: #5588ba; 
    text-align:right; 
    padding: 20PX; 
    font-size: 150%; 
    font-family: 'Fredoka', sans-serif;
}
.imgrrss{width: 200px; 
    height: auto;}

.chat{width: 100px; 
    height: 100px; 
    position: fixed; 
    bottom: 50px; 
    right: 100px;
}
footer{background-color: #5588ba; 
    color: #efefef;}
